* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7.5rem 1fr;
    grid-template-areas: 
        'title'
        'cards';
}

#title {
    grid-area: title;
    background-color: #335c67;
}

#cards {
    padding: 1rem;
    grid-area: cards;
    background-color: #9e2a2b;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 0.5rem;
    justify-content: center;
}

#card {
    height: 500px;
    background-color: #fff3b0;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 55% 35% 10%;
    grid-template-areas: 
        'cover'
        'info'
        'status';
}

#cover {
    grid-area: cover;
    background-size: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

#info {
    padding: 1rem;
    grid-area: info;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        'book-title book-year'
        'book-info book-info';
    
}

#book-title {
    grid-area: book-title;
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
    align-self: center;
}

#book-year {
    grid-area: book-year;
    background-color: #540b0e;
    border-radius: 0.5rem;
    color: white;
    justify-self: self-end;
    align-self: center;
    padding: 0.5rem;
    font-weight: bolder;
}

#book-info {
    grid-area: book-info;
    font-size: 1.15rem;
    color: rgb(67, 67, 67);
    align-self: self-start;
}

#status {
    grid-area: status;
    border-radius: 0 0 1rem 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

#status-text {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}